# Flask App Settings
FLASK_DEBUG=False
APP_ENV=development
SECRET_KEY=
DATABASE_URL=

# Security / Cookies
SESSION_COOKIE_SECURE=false

# Brevo API Configuration
BREVO_API_KEY=
MAIL_DEFAULT_SENDER=
MAIL_TIMEOUT=15

# Admin Email
ADMIN_EMAIL=
ADMIN_PASSWORD=
PUBLIC_BASE_URL=

# Testing
FLASK_TESTING=0
