[python: **.py]
encoding = utf-8
keywords = gettext lazy_gettext _

[jinja2: **/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.i18n

[jinja2: **/templates/**.txt]
encoding = utf-8
extensions = jinja2.ext.i18n

